@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: #E8402A44;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #13151A;
  }
  ::-webkit-scrollbar-thumb {
    background: #252830;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #E8402A;
  }
}
